/* Styling for Card Components */
.section {
	display: flex;
	flex-direction: row;
	margin: 0;
}

.break {
	height: 40px;
}

.wrapper {
	width: 100%;
	justify-content: space-between;
}

.card {
	border-bottom: 1px solid rgb(227,227,228);
	padding-bottom: 20px;

	& .wrapper-info {
		align-items: baseline;
	}

	& .user-info {
		display: flex;
		flex-direction: row;
		width: 412px;

		& .user-profile {
			width: 50px;
			height: 50px;
			background-color: red;
			border-radius: 25px;
			margin-right: 15px;
		}

		& .username {
			font-size: 14px;
			margin-left: 10px;
			margin-right: 10px;
		}

		& .bold {
			font-weight: 700;
			font-size: 2rem;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.video {
	max-width: 75%;
	max-height: calc(450px + (100vw - 768px) / 1152 * 100);
	border-radius: 15px;
	margin: 10px 20px 0 70px;
}

.socials {
	flex-direction: column;
	justify-content: end;

	& button {
		border: none;
		background: none;
		outline: none;
		padding: 0;
		position: relative;
		display: flex;
		align-items: center;
    cursor: pointer;
		flex-direction: column;

		& .icon-social {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 48px;
			height: 48px;
			font-size: 0px;
			border-radius: 50%;
			transition: all ease-in-out 200ms;
			background-color: rgba(22, 24, 35, 0.06);
			margin-top: 8px;
			margin-bottom: 6px;
			&:hover {
				background-color: #1618231a;
			}

			& .custom-icon {
				font-size: 23px;
			}
		}

		& strong {
			color: var(--text-color-2);
			font-size: 12px;
			line-height: 17px;
			text-align: center;
		}
	}
}

.follow-button {
	border: 1px solid #fe2c55;
	border-radius: 3px;
	width: 107px;
	height: 28px;
	color: #fe2c55;
	font-weight: 600;
	padding: 2px 0 3px;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: rgb(255, 255, 255);
}

.followed-button {
	border: 1px solid rgb(227,227,228);
	border-radius: 3px;
	min-width: 120px;
	min-height: 28px;
	color: #161823;
	font-weight: 600;
	padding: 5px;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: rgb(255, 255, 255);
}
